<a href="https://colab.research.google.com/github/nsspia/web1/blob/master/%EB%B3%B4%EC%8A%A4%ED%84%B4_%EC%A7%91%EA%B0%92_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 1. 과거의 데이터를 준비한다
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)
print (보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print (독립.shape, 종속.shape)

(506, 13) (506, 1)

In [ ]:
# 2. 모델의 구조를 만든다
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [ ]:
# 3. 데이터로 모델을 학습(FIT) 한다.
model.fit (독립, 종속, epochs=1000, verbose=0)
model.fit (독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 24.1590
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 24.1744
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 23.9968
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5964
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 24.1780
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 24.4418
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 24.0823
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 24.2673
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 24.2278
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 24.2714

In [ ]:
# 4. 모델을 이용한다.
print (model.predict(독립[5:10]))
print (종속[5:10])

[[24.880913]
 [21.167252]
 [18.15979 ]
 [ 9.976353]
 [17.55737 ]]
   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [ ]:
# 모델의 수식 확인.
model.get_weights()

[array([[-0.0938724 ],
        [ 0.04807234],
        [-0.0309825 ],
        [ 2.643084  ],
        [ 0.36555305],
        [ 5.3498178 ],
        [-0.01292174],
        [-1.0131143 ],
        [ 0.18967815],
        [-0.01176326],
        [-0.47165158],
        [ 0.01257903],
        [-0.46104085]], dtype=float32), array([5.591384], dtype=float32)]